---
layout: default
---

<div id="container" class="cols">
    {% for post in site.posts %}
    <a href="{{post.url | prepend: site.baseurl}}">
    <div class="box" style="background-color:#{{post.color}}">
       {% if post.img %}
          <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
       {% endif %}
          <div class="container">
            <h4>{{post.title}}</h4>
            <p class="home-container">{{post.description}}</p>
            <div class="action">{{ post.display_date}}<i class="fa fa-arrow-right" aria-hidden="true"></i></div>
          </div>
    </div>
    </a>
   {% endfor %}
</div>
